body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width:800px) {
.individual{
  width: 200px;
  height: 350px;
}  
.Face{
  width: 200px;
  height: 350px;
}
.imgIndividual{
  width: 200px;
  height: 350px;
}
.Information{

  padding: 10%;
  margin: 0;
  width: 100%;
}
.Information b{
  display: block;
  font-size: 18px;
 
}
.Information p{
  text-align: end;
  color: rgb(19, 19, 19);
}
.Form{
  background-color: rgb(179, 109, 233);
  padding: 30px;
}
}
@media (max-width:600px) {
  .individual{
    width: 150px;
    height: 250px;
  }  
  .Face{
    width: 150px;
    height: 250px;
  }
  .imgIndividual{
    width: 150px;
    height: 250px;
  }
  
  .Information b{
    display: block;
    font-size: 11px;
   
  }
  .Form input{
    width: 100px;
    border-radius: 20px;
    height:40px;
    text-align: center;
  }
  .dimencionLista{
    justify-content: start;

  }
 
  }
  @media (max-width:500px){
    .dimencionLista{
     font-size: 10px;
    }
    ul{
      padding: 0px;
    }
    .Form input{
      width: 100px;
      border-radius: 20px;
      height:15px;
      text-align: center;
    }
    .Form{
      padding: 20px;
    }
  }
